/* features section */
.features-section {
  @include section-vert-padding();
  background-color: var(--white-color);
}

.features-section__list {
  display: flex;
}

.features-section__item {
  flex-basis: calc(100% / 4);

  & :not(:last-child) {
    margin-right: var(--set-gap);
  }
}

.features-section__wraper {
  @extend %centered-flex-box;
  height: 120px;
  margin-bottom: var(--set-gap);
  background: var(--primary-bg-color);
  border-radius: var(--basic-border-radius);
}

.features-section__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-section__description {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
