/* features section */
.features {
  @include section-vert-padding();
  background-color: var(--white-color);
}

.features__list {
  display: flex;
}

.features__item {
  flex-basis: calc(100% / 4 - var(--set-gap));
}

.features__thumb {
  @extend %centered-flex-box;
  height: 120px;
  margin-bottom: var(--set-gap);
  background: var(--primary-bg-color);
  border-radius: var(--basic-border-radius);
}

.features__sub-section-title {
  margin-bottom: 10px;
}
