/* logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.logo__span {
  &--dark {
    color: var(--black-color);
  }

  &--light {
    color: var(--white-color);
  }
}
